
@{
    ViewBag.Title = "Iletisim";
}

<h2>İletişim</h2>

<p>
    Sosyal medya hesaplarımız şunlardır.
    <br />Facebook: <a href="https://facebook.com/gamzeninpilatesrehberi">https://facebook.com/gamzeninpilatesrehberi</a>
    <br />Twitter:<a href="https://twitter.com/gamzeninpilatesrehberi">https://twitter.com/gamzeninpilatesrehberi</a>
    <br />Instagram:<a href="https://instagram.com/gamzeninpilatesrehberi">https://instagram.com/gamzeninpilatesrehberi</a>
</p>